/********        RESET         *********/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/********        FONT-FACE         *********/


@font-face {
font-family: 'VAG Rounded Std';
src: url('font/VAGRoundedStd-Light.otf');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Aleo';
src: url('font/Aleo-Regular.otf');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'DINpro';
src: url('font/DINPro-Light.ttf');
font-weight: normal;
font-style: normal;
}

/********        CSS         *********/


body{

}

header{
	background-image: url(img/bg.jpg);
	background-repeat: no-repeat;
	height: 530px;
	margin: 0 auto;
	width: 100%;
}

.intro{
	position: absolute;
	top: 130px;
	left: 17.73%;
}

.sign_up {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1280px;
  height: 1138px;
  z-index: 27;
}
.Get_the_app_first {
  font-size: 22px;
  border: none;
  font-family: "VAG Rounded Std";
  color: rgb( 128, 128, 128 );
  line-height: 1.091;
  text-align: left;
  position: absolute;
  left: 20px;
  top: 18px;
  z-index: 26;

}

.Get_the_app_first:focus{
	outline: none;
}

.SEND {
  font-size: 22px;
  font-family: "VAG Rounded Std";
  color: rgb( 255, 255, 255 );
  font-weight: 200;
  line-height: 1.091;
  text-align: left;
  background: none;
  padding: 20px;
  padding-left: 25px;
  border : none;
  z-index: 25;
  cursor: pointer;
}

.fondsign{
	position: absolute;
	left: 17.6%;
  	top: 361px;
}

.Ra2 {
  background-color: rgb( 245, 98, 86 );
  position: absolute;
  left: 327px;
  width: 104px;
  height: 60px;
  z-index: 23;
  border-radius: 0 8px 8px 0;
}
.Ra3 {
  background-color: rgb( 255, 255, 255 );
  position: absolute;
  width: 424px;
  height: 60px;
  z-index: 22;
  border-radius: 8px 0 0 8px;
}


.iphone{
	float: right;
	margin-top: 21px;
	margin-right: 12.18%;
}

.feat{
	height: 444px;
	width: 100%;
	background-color: #FFF;
}

.data{
	display: block;
	width: 870px;
	height: 270px;
	padding-top: 100px;
	margin: 0 auto;
}

.terminal{ 
	display: inline-block;
}

.offline{
	padding-left: 90px;
	display: inline-block;
}

.maj{
	padding-left: 90px;
	display: inline-block;
}



.imgfeat{
	margin-left: 40px;
}

h2{
  font-size: 22px;
  font-family: "Aleo";
  color: rgb( 36, 36, 36 );
  line-height: 0.864;
  text-align: center;
  z-index: 46;
  margin: 20px 0 20px 0 ;
}

h3{
  font-size: 13px;
  font-family: "VAG Rounded Std";
  color: rgb( 128, 128, 128 );
  line-height: 1.357;
  text-align: center;
  width: 218px;
  z-index: 47;
}

footer{
	height: 160px;
	width: 100%;
	background-color: #242424;
	text-align: center;
}

h5{
  font-family: "Aleo";
  color: rgb( 102, 102, 102 );
  line-height: 0.633;
  text-align: center;
  padding-top: 40px;
  font-size: 30px;
  z-index: 60;
}

h6{
  font-family: "Aleo";
  color: rgb( 102, 102, 102 );
  line-height: 0.633;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 20px;
  font-size: 14px;
  font-weight: 100;
  z-index: 60;
}

h7{
  font-family: DINpro;
  color: rgb( 102, 102, 102 );
  line-height: 0.633;
  text-align: center;
  font-size: 16px;
  font-weight: 100;
  z-index: 60;
}

h7 a{
	text-decoration: none;
	color: rgb( 102, 102, 102 );
}

h7 a:hover{
	color: #999;
	transition: 0.3s ease-out;
}
































