Learn/Learn.xcodeproj/*.pbxuser
Learn/Learn.xcodeproj/*.mode*
Learn/Learn.xcodeproj/*.perspectivev3
Learn/Learn.xcodeproj/*.xcworkspace/
Learn/Learn.xcodeproj/xcuserdata/
Learn/Learn.xcworkspace/
Learn/Pods/
Learn/Podfile.lock
