Snippets/Snippets.xcodeproj/*.pbxuser
Snippets/Snippets.xcodeproj/*.mode*
Snippets/Snippets.xcodeproj/*.perspectivev3
Snippets/Snippets.xcodeproj/*.xcworkspace/
Snippets/Snippets.xcodeproj/xcuserdata/
Snippets/Snippets.xcworkspace/
Snippets/Pods/
Snippets/Podfile.lock
