/********        RESET         *********/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/********        CSS         *********/


body{

}

header{
	background-image: url(img/bg.jpg);
	background-repeat: no-repeat;
	height: 530px;
	margin: 0 auto;
	width: 100%;
}

.intro{
	position: absolute;
	top: 130px;
	left: 17.73%;
}

.sign_up {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1280px;
  height: 1138px;
  z-index: 27;
}
.Get_the_app_first {
  font-size: 22px;
  font-family: "VAG Rounded Std";
  color: rgb( 128, 128, 128 );
  line-height: 1.091;
  text-align: left;
  position: absolute;
  left: 19.15%;
  top: 383px;
  z-index: 26;
}
.SEND {
  font-size: 22px;
  font-family: "VAG Rounded Std";
  color: rgb( 255, 255, 255 );
  font-weight: 200;
  line-height: 1.091;
  text-align: left;
  position: absolute;
  left: 45.15%;
  top: 383px;
  z-index: 25;
}
.Ra1 {
  background-color: rgb( 236, 88, 77 );
  opacity: 0.8;
  position: absolute;
  left: 43.125%;
  top: 361px;
  width: 104px;
  height: 60px;
  z-index: 24;
}
.Ra2 {
  background-color: rgb( 245, 98, 86 );
  position: absolute;
  left: 43.125%;
  top: 361px;
  width: 104px;
  height: 60px;
  z-index: 23;
}
.Ra3 {
  background-color: rgb( 255, 255, 255 );
  position: absolute;
  left: 17.6%;
  top: 361px;
  width: 424px;
  height: 60px;
  z-index: 22;
}


.iphone{
	float: right;
	margin-top: 21px;
	margin-right: 12.18%;
}













